/* 
*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(243, 239, 244);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#clock{
    width: 350px;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    border-radius: 10px;

}
#clock div{
    width: 250px;
    height: 250px;
    background-color:  #7a6c78;;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
#clock div img{
    width: 200px;
    height: 200px;
    box-shadow: 2px 5px 7px rgb(101, 101, 113), -2px -5px 7px rgb(101, 101, 113);
    border-radius: 10px;
   
}
#btn{
   width: 60%;
   height: 40px;
   color: rgb(8, 18, 18);
   background: darkgoldenrod;
   font-size: 20px;
   font-weight: bold;
   outline: none;
   border: none;
   border-radius: 20px;
   
   
}
/* #btn2{
       margin-top: 10px;
       width: 50%;
       height: 30px;
       color: rgb(8, 18, 18);
       background: darkgoldenrod;
       font-size: 20px;
       font-weight: bold;
       outline: none;
       border: none;
       border-radius: 10px;
       
    } */

#btn:hover{
   background-color:  #47434e;
   color:aliceblue;
}
#curtime {
    border-radius: 10px;
}

#show{
    color: aliceblue;
}
#curtime{
 width: 55%;
 height: 20px;
 background: #7a6c78;
 margin: 20px auto;
 padding: 10px;
 border: none;
 outline: none;
 border-radius: 20px;
 font-size: 15px;
 
}
h1 span{
    color: darkgoldenrod;
}
 */

*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(243, 239, 244);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

#clock{
    width: 350px;
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    border-radius: 10px;

}
#clock div{
    width: 250px;
    height: 250px;
    background-color:  #7a6c78;;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}
#clock div img{
    width: 200px;
    height: 200px;
    box-shadow: 2px 5px 7px rgb(101, 101, 113), -2px -5px 7px rgb(101, 101, 113);
    border-radius: 10px;
   
}
#btn{
   width: 60%;
   height: 40px;
   color: rgb(8, 18, 18);
   background: darkgoldenrod;
   font-size: 20px;
   font-weight: bold;
   outline: none;
   border: none;
   border-radius: 20px;
   
   
}
/* #btn2{
       margin-top: 10px;
       width: 50%;
       height: 30px;
       color: rgb(8, 18, 18);
       background: darkgoldenrod;
       font-size: 20px;
       font-weight: bold;
       outline: none;
       border: none;
       border-radius: 10px;
       
    } */

#btn:hover{
   background-color:  #47434e;
   color:aliceblue;
}
#curtime {
    border-radius: 10px;
}

#show{
    color: aliceblue;
}
#curtime{
 width: 55%;
 height: 20px;
 background: #7a6c78;
 margin: 20px auto;
 padding: 10px;
 border: none;
 outline: none;
 border-radius: 20px;
 font-size: 15px;
 
}
h1 span{
    color: darkgoldenrod;
}

