/* 
body {
	font-family: Arial, sans-serif;
	background:linear-gradient(45deg, #007bff, #27ae60);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.clock {
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 300px;
}

h1 {
	font-size: 2rem;
	color: green;
}

h3 {
	font-size: 1.0rem;
	color: #333;
}

.time {
	font-size: 2rem;
	margin: 20px 0;
	color: #333;
	box-shadow: 4px 4px 7px rgb(94, 80, 60) ,-4px -4px 7px rgb(82, 70, 52);
	
}

.input-row {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.input-field {
	display: flex;
	flex-direction: column;
	align-items: center;
} */


body {
	font-family: Arial, sans-serif;
	background:linear-gradient(45deg, #007bff, #27ae60);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
}

.clock {
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 300px;
}

h1 {
	font-size: 2rem;
	color: green;
}

h3 {
	font-size: 1.0rem;
	color: #333;
}

.time {
	font-size: 2rem;
	margin: 20px 0;
	color: #333;
	box-shadow: 4px 4px 7px rgb(94, 80, 60) ,-4px -4px 7px rgb(82, 70, 52);
	
}

.input-row {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.input-field {
	display: flex;
	flex-direction: column;
	align-items: center;
}